Repository pinanek/pinanek.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Update content styles
  content/posts/example-post/index.mdx
  src/components/header/header-item.module.css
  src/components/header/link.astro
  src/components/header/logo.astro
  src/components/header/rss-link.astro
  src/components/post/content/blockquote.astro
  src/components/post/content/code-block.astro
  src/components/post/content/content.astro
  src/components/post/content/heading/heading.module.css
  src/components/post/content/inline-code.astro
  src/components/post/content/list/index.ts
  src/components/post/content/list/list-item.astro
  src/components/post/content/list/ordered-list.astro
  src/components/post/content/list/unordered-list.astro
  src/components/post/content/table/table-body.astro
  src/components/post/content/table/table-head.astro
  src/components/post/content/table/table.astro
  src/components/post/table-of-content/table-of-content.astro
  src/highlighter/languages.ts
  src/layouts/post.astro
  src/styles/colors.css
  src/styles/highlighter.css
Due: prettier --write, eslint

Update dark mode color
  Readme.md
  content/posts/example-post/index.mdx
  src/components/header/header.astro
  src/components/post/content/table/table-body.astro
  src/components/post/content/table/table-head.astro
  src/components/post/table-of-content/table-of-content.astro
  src/layouts/home.astro
  src/styles/colors.css
  src/styles/highlighter.css
Due: prettier --write, eslint

Update highlighter colors
  astro.config.ts
  package.json
  patches/@astrojs__mdx@0.12.2.patch
  pnpm-lock.yaml
  postcss.config.cjs
  src/styles/colors.css
  src/styles/highlighter.css
Due: prettier --write, eslint

Migrate to Astro experimental content collections
  .eslintignore
  .lintstagedrc.yaml
  .prettierignore
  astro.config.ts
  package.json
  patches/@astrojs__mdx@0.13.0.patch
  pnpm-lock.yaml
  src/components/common/figure/get-picture.ts
  src/components/post/header.astro
  src/content/config.ts
  src/content/posts/another-post/images/_default-logo.png
  src/content/posts/another-post/images/_hello.png
  src/content/posts/another-post/images/_thumbnail.png
  src/content/posts/another-post/index.mdx
  src/content/posts/example-post/images/_default-logo.png
  src/content/posts/example-post/images/_hello.png
  src/content/posts/example-post/images/_thumbnail.png
  src/content/posts/example-post/index.mdx
  src/content/types.generated.d.ts
  src/layouts/post.astro
  src/pages/posts/[post].astro
  src/pages/rss.xml.ts
  src/types/post.ts
  src/utils/common.ts
  tsconfig.json
Due: prettier --write, eslint

Clean up
  astro.config.ts
  lib/highlighter/highlighter.ts
  lib/highlighter/index.ts
  lib/highlighter/kenanip-theme.ts
  lib/highlighter/languages.ts
  lib/highlighter/utils.ts
  lib/remark/remark-code-block.ts
  lib/remark/remark-inline-code.ts
  lib/remark/remark-mdx-images.ts
  src/components/post/content/code-block.astro
  src/pages/posts/[post].astro
  src/types/post.ts
Due: prettier --write, eslint

Update post page
  lib/remark/remark-inline-code.ts
  site.config.ts
  src/components/post/content/content.astro
  src/layouts/post.astro
  src/pages/posts/[post].astro
Due: prettier --write, eslint

Added posts page
  src/components/header/header.astro
  src/components/post/category/category-item.astro
  src/components/post/index.ts
  src/components/post/item.astro
  src/content/image.ts
  src/layouts/default.astro
  src/layouts/index.ts
  src/pages/posts/[post].astro
  src/pages/posts/index.astro
  src/styles/colors.css
  src/styles/tokens.css
Due: prettier --write, eslint

Some updates ✨
  lib/highlighter/kenanip-theme.ts
  package.json
  pnpm-lock.yaml
  src/components/post/item.astro
  src/content/posts/example-post/index.mdx
  src/layouts/post.astro
  src/pages/posts/index.astro
  src/styles/highlighter.css
Due: prettier --write, eslint

Added category page
  package.json
  pnpm-lock.yaml
  src/components/common/code.astro
  src/components/common/index.ts
  src/components/head/seo.astro
  src/components/header/header.astro
  src/content/_content.ts
  src/content/_image.ts
  src/layouts/default.astro
  src/layouts/index.ts
  src/layouts/posts.astro
  src/pages/categories/[category].astro
  src/pages/posts/[post].astro
  src/pages/posts/index.astro
Due: prettier --write, eslint

Update workflow
  .github/workflows/deploy.yaml
Due: prettier --write

fix: add missing og images
  src/templates/components/metadata.rs
Due: none

update og image
  src/og_image.rs
  src/templates/components/og.rs
Due: none

fix: reduce the code block font size on mobile
  assets/styles/_prose/code_block.css
Due: prettier --write

various fixes
  assets/scripts/photos/main.ts
  assets/styles/_base/typography.css
  assets/styles/_prose/code_block.css
  assets/styles/photos/main.css
Due: prettier --write, eslint

update
  Cargo.toml
  content/colophon/main.md
  tsconfig.json
Due: prettier --write

perf: attempt to improve build time
  .github/workflows/deploy-pages.yml
  Cargo.toml
Due: none

fix: use css var for zoom background
  assets/scripts/photos/main.ts
  assets/scripts/posts/_prose_medium_zoom.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: *.{json,yaml,css,md,mdx,cjs}) or (any of: *.{ts,tsx,astro})
  eslint: any of: *.{ts,tsx,astro}
