Repository pinanek/pinanek.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.yaml:

'*.{md,mdx,json,yaml,scss}': prettier --write
'*.{ts,tsx,astro}': [prettier --write, eslint]

Updates
  .gitignore
  components.d.ts
  package.json
  pnpm-lock.yaml
  src/components/header/header.vue
  src/components/post/post.vue
Due: prettier --write, eslint

Async decoding post thumbnail
  iles.config.ts
Due: prettier --write, eslint

Update deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

Added `husky` and `lint-staged`
  .lintstagedrc.yaml
  package.json
  pnpm-lock.yaml
Due: prettier --write

web: Added header
  package.json
  pnpm-lock.yaml
  web/astro.config.ts
  web/package.json
  web/src/components/header/header-button.css.ts
  web/src/components/header/header-item.astro
  web/src/components/header/header-item.css.ts
  web/src/components/header/header.astro
  web/src/components/header/header.css.ts
  web/src/components/header/logo.astro
  web/src/components/header/logo.css.ts
  web/src/components/header/menu-button.tsx
  web/src/components/header/theme-button.tsx
  web/src/layouts/home.astro
  web/src/layouts/home.css.ts
  web/src/styles/classes.css.ts
  web/src/styles/index.ts
  web/src/styles/vars.css.ts
  web/tsconfig.json
Due: prettier --write, eslint

highlighter: Removed unused function
  packages/highlighter/utils.ts
Due: prettier --write, eslint

Optimize content image
  pnpm-lock.yaml
  web/astro.config.ts
  web/content/posts/hello/index.mdx
  web/package.json
  web/src/components/post/link.css.ts
  web/src/components/post/picture.astro
  web/src/components/post/picture.css.ts
  web/src/components/post/post.astro
  web/src/constants/image.ts
  web/src/constants/index.ts
  web/src/layouts/post.astro
  web/src/pages/posts/[post].astro
  web/src/utils/post/image.ts
Due: prettier --write, eslint

Added InfoBar
  .eslintrc.yaml
  packages/rehype-info-bar/Readme.md
  packages/rehype-info-bar/index.ts
  packages/rehype-info-bar/package.json
  packages/rehype-info-bar/tsconfig.json
  packages/remark-inline-code/index.ts
  pnpm-lock.yaml
  web/astro.config.ts
  web/content/posts/hello/index.mdx
  web/package.json
  web/src/components/post/info-bar/check-icon.astro
  web/src/components/post/info-bar/error-icon.astro
  web/src/components/post/info-bar/info-bar-icon.astro
  web/src/components/post/info-bar/info-bar-icon.css.ts
  web/src/components/post/info-bar/info-bar.astro
  web/src/components/post/info-bar/info-bar.css.ts
  web/src/components/post/info-bar/info-icon.astro
  web/src/components/post/info-bar/warning-icon.astro
  web/src/components/post/post.astro
  web/src/styles/tokens/color.ts
  web/src/utils/common.ts
Due: prettier --write, eslint

Updated content
  web/content/posts/hello/index.mdx
  web/src/components/post/blockquote.astro
  web/src/components/post/blockquote.css.ts
  web/src/components/post/list/list-item.astro
  web/src/components/post/list/list-item.css.ts
  web/src/components/post/list/ordered-list.astro
  web/src/components/post/list/ordered-list.css.ts
  web/src/components/post/list/unordered-list.astro
  web/src/components/post/list/unordered-list.css.ts
  web/src/components/post/post.astro
  web/src/styles/tokens/color.ts
Due: prettier --write, eslint

Updated deps
  package.json
  pnpm-lock.yaml
  web/package.json
Due: prettier --write

Update pnpm version
  package.json
Due: prettier --write

Updated Readmes
  Readme.md
  packages/rehype-info-bar/Readme.md
  packages/rehype-info-bar/package.json
Due: prettier --write

Updated deps
  Readme.md
  pnpm-lock.yaml
  web/package.json
Due: prettier --write

Updated deps
  package.json
  packages/astro-html-minifier/package.json
  pnpm-lock.yaml
  web/package.json
Due: prettier --write

Improved typing
  package.json
  packages/astro-html-minifier/package.json
  packages/rehype-info-bar/index.ts
  packages/remark-code-block/index.ts
  packages/remark-inline-code/index.ts
  pnpm-lock.yaml
  web/astro.config.ts
Due: prettier --write, eslint

Improved linting
  .eslintrc.yaml
  .lintstagedrc.yaml
  .prettierrc.yaml
  .vscode/settings.json
  package.json
  packages/astro-html-minifier/Readme.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.eslint.json
  web/content/posts/hello/index.mdx
Due: prettier --write

Updated eslint config
  .eslintrc.yaml
Due: prettier --write

Updated deps
  package.json
  pnpm-lock.yaml
  web/astro.config.ts
  web/package.json
Due: prettier --write, eslint

Added robots.txt
  web/src/pages/robots.txt.ts
Due: prettier --write, eslint

Updated Readmes
  packages/astro-html-minifier/Readme.md
  packages/highlighter/Readme.md
Due: prettier --write

Updated Readme
  Readme.md
Due: prettier --write

Updated styles
  Readme.md
  web/src/components/post/code/code-block.css.ts
  web/src/styles/utils/color.ts
Due: prettier --write, eslint

Updated deps
  package.json
  packages/remark-inline-code/package.json
  pnpm-lock.yaml
  web/package.json
Due: prettier --write

Update `@astrojs/image`
  .eslintignore
  .gitignore
  .prettierignore
  pnpm-lock.yaml
  web/astro.config.ts
  web/package.json
Due: prettier --write, eslint

Add deploy workflow
  .github/workflows/deploy.yml
Due: none

Added readme and license
  LICENSE
  Readme.md
Due: prettier --write

Update deploy workflow
  .github/actions/build/action.yml
  .github/workflows/deploy.yml
Due: none

Clean up a little bit
  .github/actions/build/action.yaml
  .github/workflows/deploy.yaml
  Readme.md
  content/posts/example-post/index.mdx
  src/components/post/content/table/table-body.astro
  src/components/post/content/table/table-head.astro
  src/components/post/content/table/table.astro
Due: prettier --write, eslint

Clean up ✨
  content/posts/another-post/images/default-logo.png
  content/posts/another-post/images/hello.png
  content/posts/another-post/images/thumbnail.png
  content/posts/another-post/index.mdx
  package.json
  pnpm-lock.yaml
  src/components/header/menu-button.astro
  src/components/header/menu-button.ts
  src/components/header/theme-button.astro
  src/components/header/theme-button.ts
  src/components/post/category/category-item.astro
  src/components/post/category/index.ts
  src/components/post/header.astro
  src/components/post/table-of-content/table-of-content.astro
  src/components/post/table-of-content/table-of-content.ts
  src/layouts/home.astro
  src/layouts/post.astro
  src/styles/classes.css
  src/types/post.ts
Due: prettier --write, eslint

Add RSS and robots.txt
  Readme.md
  package.json
  pnpm-lock.yaml
  src/pages/robots.txt.ts
  src/pages/rss.xml.ts
Due: prettier --write, eslint

Update RSS feed
  package.json
  pnpm-lock.yaml
  public/rss/styles.xsl
  site.config.ts
  src/components/header/header-item.module.css
  src/components/header/header.astro
  src/components/header/menu-button.astro
  src/components/header/rss-link.astro
  src/components/header/theme-button.astro
  src/pages/rss.xml.ts
Due: prettier --write, eslint

Update RSS feed stylesheet
  Readme.md
  package.json
  pnpm-lock.yaml
  public/rss/styles.xsl
  site.config.ts
Due: prettier --write, eslint

Fix lint-staged's odd ouput
  .husky/pre-commit
Due: none
